/* Since the styling was built into the classes in a different language I stopped adding them and changing them in here.
Need to see if it is worth it to convert it to CSS and have the styling on a different file like this or if it is better to have it above function in JSX (like RightOn website) */

.playcard {
    display: 'flex';
    max-width: 360;
    margin: 10;
}

.info-space {
    display: 'flex';
    flex-direction: 'column';
}

.song-content {
    flex: '1 0 auto';
}

.icon-content {
    display: 'flex';
    alignItems: 'center';
    pl: 1;
    pb: 1;
}